#blogs{
	width:248px;
	}
	
#blogs .tit_blog {
        background-color: #e6e6e6;
        margin-bottom:4px;
	padding-left: 5px;
        padding-bottom:8px;
        padding-top:8px;
 } 
#blogs span {
        font-family:"Times New Roman", Times, serif;
        font-size: 16px;
	color: #FFF;
	font-weight: bold;
}
#blogs .blog {
	margin-top:8px;
	padding-bottom:10px;
	border-bottom:#818181 1px solid;
	}
#blogs .blog img {
	float:left;
	margin-right:6px;
	margin-bottom:10px;
}	
#blogs .blog h1 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	margin:0;
	padding:0;
	margin-top:4px;
	line-height:12px;
	color:#0d72b9;
	font-weight:300;
}
#blogs .blog h1 a {
	color:#0d72b9;
}
#blogs .blog h1 a:hover {
	text-decoration:underline;
}
#blogs .blog p {
        color:#252525;
	font-size:11px;
	margin:0;
	padding:0;
	margin-top:5px;
}
	
#blogs .blog .seccion {
	font-size:9px;
	height:15px;
	width:72px;
	text-align:center;
        background-color:#0d72b9;
	/*background-color:#ed512b;*/
	color:#fff;
	margin-left:67px;
	padding-left:2px;
	padding-right:2px;
	padding-top:2px;
}	
#blogs .blog .noimagen {
	margin:0;
}
	
#blogs .blog .comen{
	font-size:8px;
	font-weight:700;
	width:80px;
	color:#ed512b;
	padding:2px 0px 0px 5px;
	float:left;
}	
#encuestas {
	margin:0px;
	padding:0px;
	padding-bottom:0px;
	border:3px solid #66CC33;
	background-image:url(/imgs/encuesta-fondo-interrogaciones.jpg);
	background-repeat: no-repeat;
       /* -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;*/
}
#encuestas legend {
	font-family: Georgia, "Times New Roman", Times, serif; font-size:24px; color:#fff; background-color: #66CC33;
	/*font-size:10px;*/
	/*text-transform:uppercase;*/
	padding-left:8px;
	padding-right:8px;
	/*border:1px solid #01a8ff;*/
	/*background-color: #0d71b8;*/
	/*color: #FFF;*/
	margin-left:-3px;
}
#encuestas .encuesta {
	font-size:11px;
	font-family:Verdana, Geneva, sans-serif;
	padding:5px;
	padding-bottom:10px;
}
#encuestas .encuesta .encuesta-titulo {
	padding:0px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size:15px;
	color:#000000;
	background-color:#FFFFFF;
}
#encuestas .encuesta ol {
	margin-left:20px;
	font-size:14px;
	list-style:none;
}	
#encuestas .encuesta ol li {
	margin-top:2px;
	margin-bottom:2px;
}
#encuestas .votar{	
	display:block;
	width:56px;
	height:16px;
    padding-bottom:1px;
	padding-top:1px;
	text-align:center;
	float:left;
	margin-left:0px; margin-right:5px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	background-color:#ED512B;
	color:#fff;
	border:2px solid #ffffff;
	/*background:url(/imgs/feedburner-boton-gradiente-azul.png);*/
	}
	
#encuestas .verresult{	
	display:block;
	width:95px;
	height:16px;
    padding-bottom:1px;
	padding-top:1px;
	text-align:center;
	float:left;
	margin-left:0px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	background-color:#0D72B9;
	color:#fff;
	border:1px solid #ffffff;
	/*background:url(/imgs/feedburner-boton-gradiente-azul.png);*/
	}	

/*
 * Calendario
 */
table.calendar {
	text-transform:capitalize;
	font-weight: normal;
	border:#dddddd 1px solid;
  	border-collapse: separate;
	border-spacing: 5px;
}
table.calendar caption {
	height:20px;
	color:#418cc3;
	font-size:13px;
	font-weight: normal;
	text-align:center
}
table.calendar caption a {
	color:#ddd;
}
table.calendar caption a:hover {
	color:#666;
}
table.calendar caption a.next {
	float:right;
	color:#418cc3;
}
table.calendar caption a.prev {
	float:left;
	color:#418cc3;
}
table.calendar caption a:hover {
	color:#000;
}
table.calendar td, table.calendar th {
	padding-left:2px;
	padding-right:2px;
	border:#dddddd 1px solid;
        border-collapse: separate;
	width:26px;
	height:15px;
	color:#59595a;
  	font-size:11px;
	text-align:center
}
table.calendar td {
	background-color:#e2eff8;
}
table.calendar td.control {
	background-color:#0d72b9;
}
table.calendar td.selected{
	background-color:#e2eff8;
	border:#1a7abd 1px solid;
}
table.calendar td.selected a{
	color: #000;
	font-weight: normal;
}
table.calendar td a {
	text-decoration:underline;
	color:#060606;
	font-weight: normal;
}
table.calendar th {
	font-weight: normal;
	margin-left:1px;
	width:26px;
	height:15px;
        font-size:11px;
	color:#fff;
	background-color:#0d72b9;
	text-align:center
}
table.calendar select {
	padding:0;
	margin:0;
	border:#00a9ff 1px solid;
	height:16px;
    	font-size:10px;
	color:#59595a;
}
table.calendar input {
	margin: 0px;
	border:#00a9ff 1px solid;
}
table.calendar td a {
	text-decoration:none;
	color:#333;
}
table.calendar tr td table {
	width: 200px;
}
table.calendar tr td table td {
	width: 30px;
	border: none;
	background-color:#0d72b9;
}
table.calendar tr td table td.date {
	width: 380px;
}
.comentario{
	width:100px;
	}
#izqbloque1 .comentario, #actualidad .comentario {
	width:150px;
}
	
.comentario,.puntuacion{
	float:left;
	font-size:11px;
	margin-top:10px;
	color: #666;
	padding: 0px;
	}
.borde {
	padding-right: 5px;
	margin-right: 5px;
	border-right:#666 1px dotted;
	height:13px;
}
.puntuacion{
	margin-bottom:4px;
}	
.puntuacion label {
	float:left;
	margin-right:6px;
}
.puntuacion div.stars {
	float:left;
}
#centrobloque1 .puntuacion div.stars {
	position:relative;
	top:-3px;
}
.puntuacion div.stars img.star {
	padding:0;
	margin-right:3px;
}
.votar2 {
	cursor: pointer;
	margin-right:2px;
}
.baner_superior {
	text-align: center;
	padding-top: 3px;
	padding-bottom: 7px;
}
.baner_inferior {
        text-align: center;
        margin-top: 7px;
        margin-bottom: 7px;
}
.baner_alargado {
	text-align: center;
	padding-top: 8px;
	padding-bottom: 3px;
}
.baner_centro {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.banner_250x250_inferior {
	text-align: center;
	padding-top: 2px;
	padding-bottom: 5px;
}
.banner_728x90_inferior {
        text-align: center;
        margin-top: 7px;
        margin-bottom: 7px;
}
.banner_160x600_derecha {
        text-align: center;
        margin-top: 7px;
        margin-bottom: 7px;
		float: right;
}
.banner_160x600_masnoticias {
        margin: 0px;
		padding: 0px;
		float: right;
}
#SIDEBAR {
	float:right;
	width:230px;
        margin:0;
	margin-top:10px;
	margin-left:10px;
	list-style:none;
	font-size:11px;
}
ul#SIDEBAR li h1 {
	margin-bottom: 4px;
	font-size:12px;
        font-family:Verdana, Geneva, sans-serif;
	color:#0d72b9;
	font-weight: bold;
	padding-left:4px;
	padding-right:4px;
	padding-bottom:2px;
	padding-top:2px;
	border-top:3px double #ccc;
	border-bottom:3px double #ccc;
}
ul#SIDEBAR li div {
	padding-left:5px;
	padding-right:5px;
	color: #000;
	font-weight:normal;
}
#SIDEBAR li {
	margin-bottom:10px;
	background-color:#f6f6f6;
	padding:4px;
	border:1px #ccc solid;
}
#SIDEBAR ul {
	list-style:none;
	margin-left:2px;
	margin-right:2px;
	margin-top:4px;
	margin-bottom:4px;
	padding:5px;
	color: #000;
}
#SIDEBAR ul li {
	margin:0;
	border:none;
	font-weight: bold;
}
/* Para el material relacionado */
#relacionadas {
        padding-top: 5px;
        padding-bottom: 4px;
}
#relacionadas .rel_noticia {
        background-image:url(/imgs/carta_n.png) ;
        background-repeat:no-repeat;
        background-position:center left;
        font-size:11px;
        padding: 1px;
        padding-left: 20px;
}
#relacionadas .rel_info {
        background-image:url(/imgs/icono_infografia_c.png) ;
        background-repeat:no-repeat;
        background-position:center left;
        font-size:11px;
        padding: 1px;
        padding-left: 20px;
}
#relacionadas .rel_blog {
        background-image:url(/imgs/textos_n.png) ;
        background-repeat:no-repeat;
        background-position:center left;
        font-size:11px;
        padding: 1px;
        padding-left: 20px;
}
#relacionadas .rel_video {
        background-image:url(/imgs/video_n.png) ;
        background-repeat:no-repeat;
        background-position:center left;
        font-size:11px;
        padding: 1px;
        padding-left: 20px;
}
#relacionadas .rel_foto {
        background-image:url(/imgs/camara_n.png) ;
        background-repeat:no-repeat;
        background-position:center left;
        font-size:11px;
        padding: 1px;
        padding-left: 20px;
}
#relacionadas .rel_otros {
        background-image:url(/imgs/iconos-otros.png) ;
        background-repeat:no-repeat;
        background-position:center left;
        font-size:11px;
        padding: 1px;
        padding-left: 20px;
}
#relacionadas .rel_galeria {
        background-image:url(/imgs/gallery.png) ;
        background-repeat:no-repeat;
        background-position:center left;
        font-size:11px;
        padding: 1px;
        padding-left: 20px;
}
#relacionadas p a{
   color:#ed512b;
}
/*fin material relacionado*/
.fontsize14bold{
	font-size:14px;
	font-weight:700
	}
	
.fontsize13{
	font-size:13px;
	}	
	
.fontsize11{
	font-size:13px;
	}		
	
.fontsize16{
	font-size:16px;
	}		
	
.fontsize9{
	font-size:9px;
	}
#facebook,#twitter {
	float: right;
}
#calendar_note {
	font-size:11px;
	margin-top:4px;
}
.little_video {
	width:240px;
	margin-right:10px;
	float:left;
}
